%h1 jQuery page


%h3 Lets try simple styling
#fade-element  fade out on click
%br
#red-element I will get red on doubleclick
%br
#blue-bg I will get blue background once hovered on
%br
%h3 Lets try Ajax.
%h4 Below is a simple remote form for creating instance of Friend class. Add new one 
